/****************************TAG SELECTORS********************************/
body {
  background-color: #ffdfdf;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

a {
  font-family: 'Source Sans Pro', sans-serif;
  color: #204051;
  text-decoration: none;
  margin: 0 4.3px 3px 4.3px;
}
a:hover{
  color: #fe346e;
}

h1 {
  margin: 3px auto 0 auto;
  font-size: 4.2rem;
  font-family: 'Oxygen', sans-serif;
  color: #11999E;
}

h2 {
  font-family: 'Spectral', serif;
  font-size: 2.1rem;
  padding-top: 10px;
  color: #11999E;
}

h3 {
  font-family: 'Spectral', serif;
  color: #2c003e;
}

h4 {
  width: 60%;
  margin: 0 auto;
  font-family: 'Spectral', serif;
  font-size: 1.14rem;
  color: #11999E;
}

hr {
  border-style: dotted none none;
  border-color: #404b69;
  border-width: 5.55px;
  width: 39.66%;
}


table {
  margin: 0 auto;
  text-align: left;
}
/*************************CLASS SELECTORS************************/
.topcontainer {
  position: relative;
  background-color: #f5c3bc;
  border-style: none;
  margin: 0 0 0 0;
  padding-top: 100px;
}

.bio {
  margin: auto 24%;
  text-align: left;
}

/*
.coverimg {
  border-style: outset;
  border-width: 2px;
  border-color: #fbc1bc;
}
*/
.description {
  font-weight: normal;
  width: 62.4%;
  margin: 0 auto;
}

.headhr {
  border-style: groove;
  border-color: black;
  border-width: 1.11px;
}

.us-row {
  line-height: 1.2;
  text-align: left;
  margin: 100px auto;
  width: 66.6%;
}

.fosoforospng {
  width: 15.333%;
  padding-top: 51px;
}

.matchbox {
  width: 27%;
}

.middle-container {
  background-color: #ffdfdf;
  margin: 0;
}


.infohr {
  width: 9%;
  margin: 0 auto;
}

.contact-me {
  margin: 0;
}

.bottom-container {
  background-color: #f5c3bc;
  padding: .333% 0;
}

.top2017 {
  position: absolute;
  RIGHT: 30px;
  top: 30px;
}

.bottom2017 {
  position: absolute;
  LEFT: 30px;
  bottom: 30px;
}

.copyriht {
  font-size: .81rem;
  font-weight: lighter;
  margin-bottom: 0;
  padding: 12px;
}

.misionimg {
  float: left;
  width: 27%;
  margin-right: 30px;
  position: relative;
  bottom: 21px;
}

.bioimg{
  float: right;
  width: 27%;
  margin-left: 21px;
  margin-top: 21px;
}
.BUTTON_CKP {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 40px;
   font-weight: 100;
   padding: 40px;
   box-shadow: 1px 1px 20px 0px #000000;
   -webkit-box-shadow: 1px 1px 20px 0px #000000;
   -moz-box-shadow: 1px 1px 20px 0px #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_CKP:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

/*************************ID SELECTORS************************/
