/****************************TAG SELECTORS********************************/
body {
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fff0f5
}

h1, h2, h3 {
  font-family: 'Spectral', serif;
  color: #347474;
}

p {
  padding: 1.2%;
  font-size: 1.2rem;
}

a {
  color: #204051;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a:hover {
  color: #fe346e;
}

/*************************CLASS SELECTORS************************/
/* HEADINGS */
.big-heading {
  font-size: 2.7rem;
  font-weight: 900;
}

.subtitle {
  color: #010a43;
  padding: 1.2%;
}

.product-name {
  font-family: 'Oxygen', sans-serif;
  font-size: .9rem;
  margin-left: 0;
  font-weight: 700;
}

/* STYLES */
.row {
  margin: 0;
}

/* CONTAINERS */
.container-fluid {
  padding: 9% 15%;
}
#cabeza , .container-fluid {
  padding: 9% 15% 3%;
}
/* COLORS */
.dark {
  background-color: #f5c3bc;
}

.light {
  background-color: #ffdfdf;
}

.lighter {
  background-color: #fff0f5
}

/* TITLE */
#cabeza {
  padding: 0;
  margin: 0;
}

.top {
  padding-top: 6%;
}

.navbar {
  padding: .9% 0;
  margin-top: 0;
}

.navbar-brand {
  font-family: 'Oxygen', sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
  margin-left: 0;
}

.nav-item {
  margin: 0;
}

.nav-link {
  padding: 8px 0px;
}

.description {
  padding-top: 102px;
  padding-left: 0;
}

.matchbox {
  width: 100%;
  padding: 12% 12% 3%;
}

.cont-fos {
  width: 100%;
  padding: 0;
}

.bandcamp {
  padding: 18px;
  /* ALINEAR BOTON */
  display: block;
  margin-left: 0;
}

/* RELEASES */
#releases {
  padding: 9% 12% 3%;
}

.lanzamientos-carousel {
  width: 100%;
  height: 333px;
  object-fit: cover;
  padding: 0;
  margin: 0 0 5.1%;
  border: none;
  border-radius: 1.5%;

}


.image {
  width: 212px;
  padding: 0 3% 6%;
}

.link-img {
  margin: auto 0;
}

.lanzamientos {
  width: 99%;
  padding: 0;
  margin: 0;
  border: none;
}

.artist-release {
  font-size: .84rem;
  padding-top: 1.8%;
}
.release-btn{
  text-align: right;
  padding: 0;
  margin: 0;
}
/* NOSOTROS */
#nosotros {
  padding: 6% 21%;
}

.bioimg {
  float: right;
  width: 18%;
}

.misionimg {
  float: left;
  width: 18%;
  margin-right: 30px;
  position: relative;
  bottom: 21px;
}

/* CONTACTO */
#contact-me {
  padding: 15% 18%;
  text-align: center;
}

#bottom-container {
  text-align: center;
}

.social-link {
  margin: 0 6px 0 3px;
}

/* DERECHOS */
.copyriht {
  font-size: .99rem;
  font-weight: lighter;
  margin: 1.2% auto 0;
}

/* INFO.html */
.fosoforospng {
  width: 51%;
}

#our-info {
  text-align: center;
}

/* CSSMEDIAQUERY */
@media (max-width:1199px) {
  body {
    text-align: center;
  }

  .release-btn{
    text-align: center;
  }

  .big-heading {
    font-size: 5rem;
    margin-bottom: 18%;
  }

  .bandcamp {
    display: inline-block;
    font-size: 2.1rem;
  }

  .bioimg {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .misionimg {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.artist {
  width: 144px;
  margin-right: 3%;
  float: left;
}

#artistas-bandas {
  padding: 6% 12%;
}
