/****************************TAG SELECTORS********************************/
body {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fff0f5
}

h1, h2, h3 {
  font-family: 'Spectral', serif;
  color: #347474;
}

p {
  padding: 1.2%;
  font-size: 1.2rem;
}

a {
  color: #204051;
  text-decoration: none;
  margin: 0 4.3px 3px;
}

a:hover {
  color: #fe346e;
}

/*************************CLASS SELECTORS************************/
/* HEADINGS */
.big-heading {
  font-size: 2.7rem;
  font-weight: 900;
  text-align: left;
}
.subtitle {
  color: #010a43;
  padding: 1.2%;
}
.product-name {
  font-family: 'Oxygen', sans-serif;
  font-size: .9rem;
  margin-left: 0;
  font-weight: 700;
}

/* CONTAINERS */
.container-fluid{
  padding: 6% 15%;
}
/* COLORS */
.dark{
  background-color: #f5c3bc;
}
.light{
  background-color: #ffdfdf;
}
.lighter{
  background-color: #fff0f5
}
/* TITLE */

.navbar-brand {
  font-family: 'Oxygen', sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
  margin-left: 0;
}

.nav-item {
  margin: 0 9px;
}

.description {
  padding-top: 102px;
  padding-left: 0;
}

.matchbox {
  width: 450px;
  border-radius: 100%;
}

.bandcamp {
  padding: 18px;
  text-align: left;
  /* ALINEAR BOTON */
  display: block;
  margin-left: 0;
}

/* RELEASES */

#releases {
  padding: 3% 12% 6%;
  text-align: left;
}

.lanzamientos-carousel {
  width: 99%;
  height: 222px;
  object-fit: cover;
  padding: 0;
  margin: 0 0 6%;
}

.carousel-1 {
  text-align: center;
  margin-top: 1.5%;
}

.image {
  width: 212px;
  padding-bottom: 6%;
}

.link-img {
  width: 212px;
  margin-left: 0;
  margin-right: 0;
}

.lanzamientos {
  width: 212px;
  padding: 0;
  margin: 0;
}

.artist-release {
  font-size: .84rem;
  padding-top: 1.8%;
}

/* NOSOTROS */
#nosotros {
  padding: 3% 21%;
}

.us-row {
  text-align: left;
}

.bioimg {
  float: right;
  width: 18%;
}

.misionimg {
  float: left;
  width: 18%;
  margin-right: 30px;
  position: relative;
  bottom: 21px;
}

/* CONTACTO */
#contact-me {
  padding: 12% 18%;
}

/* DERECHOS */
.copyriht {
  font-size: .99rem;
  font-weight: lighter;
  margin: 1.2% auto 0;
}


/* INFO.html */

.fosoforospng {
  width: 51%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/* CSSMEDIAQUERY */
@media (max-width:994px) {
  p {
    text-align: center;
  }

  .big-heading {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  .bandcamp {
    text-align: center;
    display: inline-block;
  }

  .bioimg {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .misionimg {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
